
	@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
	#myNavbar{
		text-align: center;
		justify-content: center;
		
	}

#para1 ,#para2 {
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #1c1c25;
	
	color: #fff;
	width: 100%;
	height: 70%;
	border-radius: 20px;
	box-shadow: 0 15px 35px rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.2);
	justify-content: center;
	align-content: center;
	text-align: center;
	filter: blur(0.2px);
	border-width: 0.1px;
	border-style: solid;
	border-color: rgba(255,255,255,0.1);
	margin: 30px auto;
	cursor: pointer;
	letter-spacing: 1px;
}
#form{
	height: 450px;
	
	background-color: #1c1c25;
	
	color: #fff;
	
	display: flex;
	
	background-color: #1c1c25;
	margin-top: 0;
	justify-content: center;
	border-radius: 20px;
	box-shadow: 0 15px 35px rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.2);
	filter: blur(0.2px);
	border-width: 0.1px;
	border-style: solid;
	border-color: rgba(255,255,255,0.1);
	
	cursor: pointer;
	letter-spacing: 1px;
	border-radius: 20px;
	box-shadow: 0 15px 35px rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.2);
	
	filter: blur(0.2px);
	border-width: 0.1px;
	border-style: solid;
	border-color: rgba(255,255,255,0.1);
	
	cursor: pointer;
	letter-spacing: 1px;
}
#para3{
	
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #1c1c25;

	color: #fff;
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #1c1c25;
	height: 50%;
	color: #fff;
	width: 100%;
	
	border-radius: 20px;
	box-shadow: 0 15px 35px rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.2);
	justify-content: center;
	align-content: center;
	text-align: center;
	filter: blur(0.2px);
	border-width: 0.1px;
	border-style: solid;
	border-color: rgba(255,255,255,0.1);
	margin: 30px auto;
	cursor: pointer;
	letter-spacing: 1px;
	border-radius: 20px;
	box-shadow: 0 15px 35px rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.2);
	justify-content: center;
	align-content: center;
	text-align: center;
	filter: blur(0.2px);
	border-width: 0.1px;
	border-style: solid;
	border-color: rgba(255,255,255,0.1);
	margin: 30px auto;
	cursor: pointer;
	letter-spacing: 1px;
}
*{
	padding: 0;
	margin: 0;
	font-family: 'Nunito', sans-serif;
}
a{
	
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.2vw;
}
a:hover{
	color: white;
	font-size: 1.4vw;
	 transition: all .5s
	
}
.container{
	color: #fff;
	
}
i{
	color: black;
	background-color:  white;
	
}
#name-input , #email-input{
	font-size: 2rem;
width: 100%;
border-radius: 20px;

}
#btn2{
	width: 100%;
	border-radius: 20px;
	font-size: 2rem;
}
h1{
	text-align: center;
	background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}
#contactme{
	height: 100% auto;
}
#row2,#contactme ,#head-contact,#CONTACTME{
	margin-top: 0.5rem;
	background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}
.row{
	margin-top: 0.5rem;
	background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}
#HOME,#BLOG{
	background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}
#sejal{
	width: 50%;
	height: 50%;
	justify-content: center;
	align-content: center;
	margin-top: 7vw;
	margin: 16% auto;
	margin-right: 25%;
	border-radius: 1000px;
	float: right;
}

#kbp{
	height: 44.5rem;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
	border-radius: 50px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image:hover{
	 opacity: 0.3;
}
.middle:hover{
	 opacity: 1.0;
}
.text {
  background-color: aquamarine;
  color: black;
  font-size: 25px;
  padding: 16px 32px;
}
#mona{
	width: 100%;
	height: 44.5rem;
}
#four,#CONTACTME{
	margin-top: 2rem;
}